<!-- <aside class="right-menu-container">

    <div class="container__button" id="cart">

        <div class="aside-text" id="fav-text fav-text-cart">
            <p>Agrega productos a tus favoritos</p>
        </div>

        <a class="button-gray right-icons button-MiCajita" id="button-MiCajita" href="/productCart">
            <img src="/img/svg/cajitaSBX.svg" alt="SoundBox-MiCajita button">
        </a>

    </div>

    <div class="container__button" id="favourites">

        <div class="aside-text" id="fav-text fav-text-favourites">
            <p>Agrega productos a tus favoritos</p>
        </div>

        <div class="right-icons button-gray button-favourites" id="button-favourites">
            <i class="fa-regular fa-heart"></i>
        </div>

    </div>

    <div class="right-icons button-gray" id="goTop">
        <i class="fa-solid fa-arrow-up"></i>
    </div>

</aside> -->