/* HEADER */

header {
	width: 100%;
	z-index: 999;

	.div__headerTop {
		background: var(--black-color);
	}
	.div__headerBoottom {
		background: var(--white-color);
		border-bottom: 0.5px solid var(--black-color);
	}

	.headerTop {
		height: 40px;
	}

	.headerTop .fa-solid,
	.fa-regular {
		color: var(--orange-color);
		margin: 0px 4px;
		transition: 0.5s;
	}

	.fa-regular:hover {
		color: var(--white-color);
	}

	.headerTop .comment {
		width: 200px;
		span {
			font-size: 0.7rem;
			color: var(--orange-color);
		}

		p {
			font-size: 0.7rem;
			text-align: center;
			padding: 0px 10px;
			color: var(--white-color);
			width: 95%;
		}
	}

	.headerTop .top-navigation-bar {
		ul {
			justify-content: end;
		}

		.li_register-login {
			color: var(--orange-color);
			justify-content: end;

			p {
				font-size: 0.7rem;
				color: var(--white-color);
			}
		}

		.register {
			margin-right: 10px;
			&:hover p {
				transition: 0.5s;
				color: var(--orange-color);
			}
		}

		.login {
			&:hover p {
				transition: 0.5s;
				color: var(--orange-color);
			}
		}

		a.btn-cajita {
			width: 40px;
			height: 100%;
			padding: 0;

			P {
				color: var(--white-color);
				width: 138px;
				font-size: 0.7rem;
			}

			&:hover {
				cursor: pointer;
				background: var(--RedWine-color);
			}
		}

		li.li_user {
			width: 30px;
			height: 30px;
			margin: 5px 0px 5px 5px;

			.img-profile {
				width: 100%;
				height: 100%;
				border-radius: 5px;
				overflow: hidden;
				border: 1.5px solid var(--white-color);
			}

			.fa-circle-user {
				border-radius: 50%;

				color: var(--white-color);

				&:hover {
					cursor: pointer;
					color: var(--orange-color);
					background: var(--white-color);
				}
			}

			.user-dropdown {
				display: none;
				overflow: hidden;
				background: var(--white-color);
				flex-wrap: wrap;
				width: 200px;
				position: absolute;
				top: 2.45rem;
				right: 3rem;
				padding: 10px;
			}

			.img_user-dropdown {
				height: 40px;
			}

			.user-dropdown .fa-solid,
			.fa-regular {
				color: var(--orange-color);
				margin: 0px 4px;
				font-size: 1rem;
				transition: 0.4s;
			}

			.fa-solid:hover {
				color: var(--white-color);
			}

			.user-dropdown a:hover {
				background: var(--white-color-hover);
			}

			&:hover .user-dropdown {
				z-index: 100;
				display: flex;
				border-radius: 5px;
				box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
			}
		}
	}

	.fixed {
		position: fixed;
		height: 50px;
		z-index: 990;
		background: var(--white-color);
		box-shadow: 0px 5px 12px 0px var(--OlivenGreen-color);
		transform: translate(0px,-100px);
	}

	.headerBottom {
		padding: 5px;
		justify-content: space-evenly;
		transition: 200ms;

		.menu-burguer {
			width: 30%;
			display: flex;
			align-items: center;
			justify-content: center;

			i {
				width: 24px;
				font-size: 2em;
			}
		}

		.menu-burguer-desplegable {
			position: fixed;
			right: 0;
			top: 0;
			background: var(--white-color);
			width: 100%;
			height: 100%;
			z-index: 999;
			display: none;
			flex-direction: column;
			justify-content: center;

			.closeMenu {
				font-size: 25px;
				/*color borrado*/
				width: 50px;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				right: 5px;
				top: 0;
				border-radius: 8px;
			}

			a {
				font-size: 18px;
				/*color borrado*/
			}
		}
	}

	.logoSbx {
		width: 50px;
		transition: 100ms;

		.img-logoSBX {
			width: 100%;
			height: 100%;
		}

		.a_img-logoSBX {
			height: 100%;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			svg {
				width: 100%;
				height: 100%;
			}
		}

		.box-img {
			width: 93%;
		}

		.tex-soundbox {
			width: 100px;
		}
	}

	.headerBottom .navContainer {
		nav {
			list-style: none;
		}

		.dropdowns {
			display: none;
		}
	}

	.div__btnSearch {
		width: 30%;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		a {
			font-size: 1rem;
			border-radius: 5px;
			background: var(--LightGray-color);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			transition: 0.4s;

			.fa-solid {
				color: var(--orange-color);
				background: var(--transparent-color);
				border-radius: 5px;
				position: absolute;
				background-origin: padding-box;
				transition: 0.4s;
			}
		}

		&:hover {
			a {
				background: var(--orange-color);
			}
			.fa-solid {
				color: var(--white-color);
				background: transparent;
			}
		}
	}

	.li__btnSearch--tablet-computer {
		display: none;
	}
}

/************************************************************************************/

/* FOOTER */

footer {
	background: var(--black-color);
	color: var(--white-color);
	padding-top: 30px;
	z-index: 888;

	.container-simbol {
		width: 20%;
		max-width: 80px;
	}

	.info {
		width: 90%;
		display: flex;
		justify-content: center;

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			a {
				font-size: 0.9em;
				color: var(--white-color);
				transition: 0.4s;

				&:hover {
					color: var(--orange-color);
				}
			}

			li {
				margin-left: 10px;
			}
		}
	}

	.redes {
		width: fit-content;
		justify-content: space-around;
		padding-bottom: 20px;

		.redes_img {
			position: relative;
			height: 30px;
			margin: 10px 5px 10px;

			.fcbk-icon-hover,
			.x-icon-hover,
			.ytb-icon-hover,
			.inst-icon-hover {
				display: none;
			}

			&:hover {
				.fcbk-icon,
				.x-icon,
				.ytb-icon,
				.inst-icon {
					display: none;
				}

				.fcbk-icon-hover,
				.x-icon-hover,
				.ytb-icon-hover,
				.inst-icon-hover {
					display: block;
				}
			}
		}
	}

	.copyright {
		text-align: center;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;

		p {
			font-size: 0.9em;
			color: #ADADAD;
		}
	}
}
/* ASIDE */

/* aside.right-menu-container {
	position: fixed;
	z-index: 1000;
	height: 1000px;
	width: 50px;
	max-width: 50px;
	right: 5px;
	top: 0;

	.container__button {
		position: relative;
	}

	.right-icons {
		width: 50px;
		height: 50px;
		border-radius: 8px;
		overflow: hidden;
		&:hover {
			transition: 0.4s;

			.aside-text,
			#fav-text {
				width: 100%;
			}
		}
	}

	#cart {
		display: none;
	}

	#favourites {
		display: none;

		----------------
		bottom: 30%;
		height: 50px;
		font-size: 18px;
		cursor: pointer; 
		----------------
	}


	#fav-text {
		position: absolute;
		width: 0%;
		max-width: 200px;
		height: 50px;
		bottom: 50%;
		right: 65px;
		background: rgba(0, 0, 0, 0.35);
		border-radius: 8px;
		margin-right: 5px;
		overflow: hidden;
	}

	#goTop {
		position: absolute;
		bottom: 10px;
		border-radius: 8px;
		width: 50px;
		height: 50px;
		font-size: 18px;
		transition: 0.9s;
		cursor: pointer;

		i {
			transition: 100ms;
			transform: rotate(45deg);
		}

		&:hover {
			background: var(--orange-color);
			cursor: pointer;
			i {
				transform: rotate(0deg);
			}
		}
	}
}
 */
/************************************************************************************/

/* MEDIA */

@media screen and (min-width: 768px) {
	header {
		.headerTop {
			width: 85%;
		}

		.headerTop .comment {
			flex: 2;
			justify-content: start;
			align-items: center;

			p {
				text-align: revert;
			}
		}

		.headerTop .top-navigation-bar {
			width: 50%;

			.li_register-login {
				width: fit-content;
				align-items: center;
			}

			.register-login a p {
				display: flex;
			}

			a.btn-cajita {
				width: 200px;
				height: 40px;
				img {
					width: auto;
					padding: 5px 0px;
				}
			}
		}

		.div__headerBoottom {
			box-shadow: 0px 5px 12px 0px var(--OlivenGreen-color);
		}

		.headerBottom {
			justify-content: center;
			.navContainer {
				width: 74%;
				align-items: center;
				justify-content: center;
				margin: 0px 10px;

				nav {
					width: 100%;
					height: 100%;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: flex-end;
				}

				.dropdowns {
					display: flex;
					width: 94%;
					justify-content: space-evenly;
					font-family: "Montserrat", sans-serif;
					font-weight: 600;
					font-size: 0.8rem;

					/*El contenedor <div> - necesario para posicionar el contenido desplegable */
					.dropdown {
						position: relative;
						color: var(--orange-color);
						div.name-dropdown{
							display: flex;
							align-items: center;
						}
					}

					/* Contenido desplegable (oculto de forma predet	erminada) */
					.dropdown-content {
						overflow: hidden;
						display: none;
						position: absolute;
						background: var(--white-color);
						border-radius: 5px;
						min-width: 160px;
						box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
						z-index: 999;

						a{
							padding: 8px 16px;
						}

					}
					/* Enlaces dentro del menú desplegable */
					a {
						font-family: "Montserrat";
						font-size: 0.6rem;
						text-decoration: none;
						display: block;
					}

					/* Mostrar el menú desplegable al pasar el mouse */
					.dropdown:hover .dropdown-content {
						display: block;
					}
				}

				.search-bar {
					display: none;
				}

				.menu-burguer {
					display: none;
				}
			}

			.menu-burguer {
				width: auto;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}

			.div__btnSearch--cell-phone {
				display: none;
			}

			.li__btnSearch {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;

				a {
					font-size: 1rem;
					border-radius: 5px;
					background: var(--LightGray-color);
					color: var(--orange-color);
					display: flex;
					justify-content: center;
					align-items: center;
					width: 30px;
					height: 30px;
					transition: 0.4s;
				}

				&:hover {
					a {
						background: var(--orange-color);
						color: var(--white-color);
					}
				}
			}

			.menu-burguer-desplegable {
				width: 50vw;
			}
		}
	}

	footer {
		.container-simbol {
			width: 150px;
			height: 100%;
			padding-bottom: 20px;
		}

		.info {
			width: 100%;
		}

		.copyright {
			width: 100%;
		}

		.redes {
			width: 200px;
			height: 100%;
			padding-bottom: 20px;
		}
	}

	/* aside.right-menu-container {
		.container__button {
			display: flex;
		}

		#cart {
			display: flex;
		}

		#favourites {
			display: flex;
		}

		.right-icons {
			box-shadow: -2px 2px 13px var(--Tan-color);
		}
	} */
}

@media screen and (min-width: 1024px) {
	header {
		.fixed {
			position: fixed;
			z-index: 999;
		}

		.headerBottom {
			justify-content: center;

			.logoSbx {
				width: 100px;
				height: 126px;
			}

			.navContainer {
				width: 78%;
				align-items: center;
				justify-content: center;

				nav {
					width: 100%;
					height: 100%;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: flex-end;
				}

				.dropdowns {
					/*El contenedor <div> - necesario para posicionar el contenido desplegable */
					.dropdown {
						position: relative;
						color: var(--orange-color);
					}

					/* Contenido desplegable (oculto de forma predet	erminada) */
					.dropdown-content {
						overflow: hidden;
						display: none;
						position: absolute;
						background: var(--white-color);
						border-radius: 5px;
						min-width: 160px;
						box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
						z-index: 999;
						a{
						padding: 12px 16px; 	

						&:hover {
							background: var(--white-color-hover);
						}
						}

					}
					/* Enlaces dentro del menú desplegable */
					a {
						font-family: "Montserrat";
						font-size: 14px;
						text-decoration: none;
						display: block;
					}

					/* Mostrar el menú desplegable al pasar el mouse */
					.dropdown:hover .dropdown-content {
						display: block;
					}
				}

				.search-bar {
					display: none;
				}

				.menu-burguer {
					display: none;
				}
			}

			.menu-burguer {
				display: none;
			}

			.menu-burguer-desplegable {
				display: none;
			}
		}

		footer {
			justify-content: center;
			align-items: center;

			.container-simbol {
				left: 1%;
			}

			.info {
				width: 87%;
				justify-content: center;
				align-items: center;
			}

			.redes {
				display: flex;
				flex-wrap: wrap;
			}

			.copyright {
				text-align: center;
				width: 100%;

				p {
					font-size: 1.3em;
				}
			}
		}
	}
}
