main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.primary-section {
	width: 100%;
	display: flex;
	flex-direction: row;
	background: #fff;
	border-radius: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-bottom: 5vh;
	box-shadow: 0px 5px 10px 2px dimgray;
}

#profile-title {
	height: 45vh;
}

#edit-user-form {
	display: none;
	width: 100%;
	flex-direction: column;

	form {
		display: flex;
		flex-direction: column;

		label {
			p {
				font-size: 20px;
			}

			input {
				width: 100%;
				margin: 15px;
				margin-left: 0px;
				font-family: "Montserrat", sans-serif;
				font-weight: 700;
				font-size: 20px;
				background-color: #e1dddd;
			}
		}
	}
}

.first-section {
	border-radius: 10px;
	border: 1px solid;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	margin: 2rem;
	overflow: hidden;

	.user-buttons {
		width: 25%;
		display: flex;
		justify-content: space-around;
	}

	.user-description {
		display: flex;
		width: 100%;
		height: 100%;

		.data-user {
			display: grid;
			width: 50%;

			span {
				margin-bottom: 1rem;
				font-size: 18px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
}

.second-section {
	margin-bottom: 25vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;

	.img-container {
		position: absolute;
		left: 100px;
		top: 100px;
		width: 355px;
		height: 355px;

		img {
			object-fit: cover;
			border-radius: 50%;
			border: 1px solid black;
			width: 100%;
			height: 100%;
		}
	}
}

.profile-button {
	background: var(--orange-color);
	border-radius: 8px;
	width: 100%;
	padding: 5px;
	font-size: 18px;
	margin-bottom: 1vh;
}

.registered-purchases {
	width: 50%;
	background-color: #fff;
	border-radius: 8px;
	margin-bottom: 3vh;

	.latest-purchases {
		display: flex;
		justify-content: space-evenly;

		img {
			margin: 0.5rem;
			width: 100%;
		}
	}
}

.img-container img:hover {
	border: 1px solid black;
	border-radius: 8px;
	transform: scale(1.1);
	transition: all 0.3s ease;
}


.errores {
	color: crimson;
	font-size: 12px;
	text-align: center;
}

/************************************************************************************/

/* MEDIA TABLET */

@media (max-width: 1024px) {
	#profile-title {
		width: 75%;
	}

	.primary-section {
		width: 75%;
	}

	.registered-purchases {
		width: 75%;
		background-color: #fff;
		border-radius: 8px;
		margin-bottom: 3vh;
	}
}

/* MEDIA CELULARES */

@media screen and (max-width: 425px) {

	.second-section .img-container {
		margin-left: 5vw;
		width: 110px;
		height: 110px;
	}

	.registered-purchases {
		.latest-purchases {
			img {
				margin: 1rem;
				width: 100%;
				border-radius: 30px;
				padding: 1rem;
			}
		}
	}

	.registered-purchases .latest-purchases {
		display: flex;
		justify-content: space-evenly;
		margin: 0.5rem;
		margin-bottom: 0;
		flex-direction: column;
		align-items: center;
	}
}