<%- include("../partials/head") %>
    <link rel="stylesheet" href="/styles/errors.css">

    <%- include("../partials/header") %>

        <main class="main flex center-x">
            <section class="main__section main__section--bgColor max-width-1365px flex flex-wrap width-1_7">
                <div class="div__img-error-404 width-1_5">
                    <img src="/img/svg/Errors/Error-404.svg" alt="SoundBox-Error-404">
                </div>
                <div class="informative-paragrap width-1_5">
                    <div>
                        <p>La página que estás buscando no pudo ser encontrada. Verifica la URL e intenta nuevamente.
                        </p>
                    </div>
                    <ul>
                        <li>
                            <h3>
                                Posibles causas:
                            </h3>
                        <li>
                            <p>
                                La URL ingresada es incorrecta.
                            </p>
                        </li>
                        <li>
                            <p>
                                El recurso solicitado ha sido eliminado o movido.
                            </p>
                        </li>
                        </li>
                    </ul>
                </div>
                <div class="div__botton width-full flex center-x">
                    <a class="button-orange" href="/">VOLVER AL INICIO</a>
                </div>
            </section>
        </main>

        <%- include("../partials/footer") %>